{{define "component/file_row"}}
    <div id="file-{{ .Id }}" class="col-12 col-lg-6 col-xl-3 mb-4" hx-ext="response-targets" >
        <div class="card h-100">
            <div class="card-body">
                <div>File: <b>{{ .Path }}</b></div>
                <div>Created at: {{ .LastModifiedAt.Format "Jan 02, 2006" }}</div>
                <div>Size: {{ .SizeHuman }}</div>
                <div id="error-{{ .Id }}" style="background: palevioletred"></div>
            </div>

            <div class="card-footer">
                <button class="btn btn-sm btn-secondary" 
                        hx-get="/api/link?path={{ .Path }}"
                        hx-target-error="#error-{{ .Id }}"
                > 📥
                </button>
                <button class="btn btn-outline-danger btn-sm"
                        hx-delete="/api/delete?path={{ .Path }}"
                        hx-trigger="click"
                        hx-target="#file-{{ .Id }}"
                        hx-target-error="#error-{{ .Id }}"
                        hx-confirm="Are you sure you wish to delete your file?"
                > ❌
                </button>

<!--                 <button class="btn btn-info btn-sm" -->
<!--                         hx-put="/htmx/api/save_status?uuid={{ .Path }}&status=completed" -->
<!--                         hx-trigger="click" -->
<!--                         hx-target="#file-{{ .Id }}" -->
<!--                         hx-target-error="#error-{{ .Id }}" -->
<!--                 > -->
<!--                     ✅ -->
<!--                 </button> -->
            </div>
        </div>
    </div>
{{end}}
